/* Section's Background Images */

#landing_section_img_container {
    background-image: url(../img/landing.jpeg);
    background-attachment: fixed;
    filter: blur(4px);
}

#about_section_img_container {
    background-image: url(../img/background.png);
    background-attachment: fixed;
}

/* Scroll More Message */

.scroll_message_container  {
    position: absolute;
    bottom: 2vh;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    height: 2vh;
}

.scroll_message_container hr {
    width: 5vw;
}

.scroll_message_container span {
    font-size: 0.5rem;
}

/* About Section Title */

.animated-title {
    width: 25vw;
    height: 42vh;
    position: absolute;
    top: 53%;
    left: 13%;
    font-weight: 300;
}

.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.animated-title > div > div > span {
    font-size: 2.8rem;
    line-height: 1.6;
}

.animated-title > div div {
    font-size: 4.7rem;
    color: #c96b2c;
    padding: 2vmin 0;
    position: absolute;
}

.animated-title > div div span {
    display: block;
}
  
.animated-title > div.text-top {
    border-bottom: 2px solid #c96b2c;
    top: 0;
}
  
.animated-title > div.text-top div {
    bottom: 0;
}

.animated-title > div.text-bottom {
    bottom: 0;
}

.animated-title > div.text-bottom div {
    top: 0;
    font-family: 'Hubballi', cursive;
}

/* About Section Title Right Arrow */

.right_arrow_container {
    position: absolute;
    top: 79%;
    left: 35%;
    width: 30px;
    height: 30px;
    border: 1px solid #c96b2c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.right_arrow_container i {
    color: #c96b2c;
}

.right_arrow_container:hover {
    transform: scale(1.4);
    transition-duration: 200ms;
}

/* About Section Details Text */

.details_text_upper_border {
    position: absolute;
    left: 61vw;
    top: 8vh;
    width: 0;
    height: 7vh;
    border-top: 2px solid #c96b2c;
}

.details_text_right_border {
    position: absolute;
    left: 86vw;
    top: 8vh;
    width: 0;
    height: 0;
    border-right: 2px solid #c96b2c;
}

.details_text {
    width: 36vw;
    position: absolute;
    left: 47vw;
    top: 13vh;
    line-height: 1.5;
    
}

.details_text div:nth-child(1) {
    display: none;
    opacity: 0;
    font-size: 1.2rem;
    padding-bottom: 4vh;
    text-align: right;
}

.details_text div:nth-child(2) {
    display: none;
    opacity: 0;
    font-size: 1.2rem;
    text-align: right;
}